 @import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rajdhani&family=Sigmar&display=swap');


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(187, 158, 187);
}

.container {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 5px 8px black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  width: 24rem;
  grid-template-areas:
    "dis dis dis dis"
    "ac ac div mul"
    "seven eight nine sub"
    "four five six add"
    "one two three equal"
    "zero zero point equal";
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 3px black;
}

.padButton:hover {
  background-color: #aea1a1;
}

.dis {
  grid-area: dis;
  text-align: right;
}

.zero {
  grid-area: zero;
}

.ac {
  grid-area: ac;
  background-color: #a67ea3;
}

.equal {
  grid-area: equal;
  background-color: rgb(101, 154, 156);
}

#display {
  grid-column: span 4;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 2rem;
  height: 3rem;
  margin-bottom: 1rem;
  justify-content: right;
}

.display-text {
  text-align: right;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 4px;
}

.op{
  background-color: rgb(163, 163, 163);
}

@media (max-width: 600px) {
  .container {
    width: 18rem;
    padding: 1rem;
  }

  .grid {
    width: 17rem;
  }

  .padButton {
    font-size: 1.5rem;
  }
}
